@import 'abstracts/variables';
body{
    background-color: $base-color;
    .container{
        height: 100vh;
        display: flex;
        @import 'components/logo-img';
    }
    .row{
        justify-content: center;
        align-items: center;
        height: 100vh;
        @import 'components/card-intro';
    }
}