@import 'abstracts/variables';
@import 'abstracts/mixins';
body{
    background-color: $base-color;
    background-image: radial-gradient(#444cf76b 1px, #e5e5f770 1px);
    background-size: 20px 20px;
    @import 'components/logo-img';
    .container{
        display: flex;
    }
    .row{
        justify-content: center;
        align-items: center;
        height: 100%;
        .content{
            position: relative;
            @import 'components/steper';
            @import 'components/_card-result.scss';
            @import 'components/card-intro';
            @import 'components/card-questions';
            @import 'components/fader';
            .progress-line{
                height: 1.1px;
                width: 0%;
                background: #00800085;
                position: absolute;
                bottom: 12px;
                left: 0;
                transition:.7s;
                transition-timing-function: ease-in-out;
            }
        }
    }
}