@import 'abstracts/variables';
@import 'abstracts/mixins';
body{
    background-color: $base-color;
    .container{
        height: 100vh;
        display: flex;
        @import 'components/logo-img';
    }
    .row{
        justify-content: center;
        align-items: center;
        height: 100vh;
        .content{
            position: relative;
            @import 'components/steper';
            .card-results .issue{
                background: #f006;
                border-radius: 3px;
                padding: 2px 10px;
            }
            .card-results .correct{
                background: #36ab3666;
                border-radius: 3px;
                padding: 2px 10px;
            }
            .card-results .answers-cards{
                padding: 10px 20px;
                background: #EEE;
                border-radius: 5px;
                box-shadow: 1px 1px 4px #0002;
                margin: 10px 0;
            }
        }
        @import 'components/card-intro';
        @import 'components/card-questions';
        @import 'components/fader';
    }
}