.card-results {
    .issue{
        background: #f006;
        border-radius: 3px;
        padding: 2px 10px;
    }
    .correct{
        background: #36ab3666;
        border-radius: 3px;
        padding: 2px 10px;
    }
    .answers-cards{
        padding: 10px 20px;
        background: #EEE;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #0002;
        margin: 10px 0;
        &.issue{
            background-color: #ff00002e;
        }
        &.correct{
            background-color: #0080002b;
        }
    }
}