body {
  background-color: #fff;
}
body .container {
  height: 100vh;
  display: flex;
}
body .container .logo-img {
  background: rgba(255, 235, 59, 0.6);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2666666667);
  position: fixed;
}
body .row {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
body .row .content {
  position: relative;
}
body .row .content .steper-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .row .content .steper-card .step-box {
  position: relative;
  background: #EEE;
  padding: 0.8% 1.9%;
  border-radius: 50%;
  border: 1px solid rgba(204, 204, 204, 0.5333333333);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1333333333) inset;
  /* font-size: 1.1rem; */
  font-weight: bold;
}
body .row .content .steper-card .step-box.active {
  background: #fff389;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}
body .row .content .steper-card .steper-line {
  position: absolute;
  height: 1px;
  width: 100%;
  background: linear-gradient(45deg, black, transparent);
  z-index: -1;
}
body .row .content .card-results .answers-cards {
  padding: 10px 20px;
  background: #EEE;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1333333333);
  margin: 10px 0;
}
body .row .content .card-results .answers-cards.issue {
  background-color: rgba(255, 0, 0, 0.1803921569);
}
body .row .content .card-results .answers-cards.correct {
  background-color: rgba(0, 128, 0, 0.168627451);
}
body .row .content .card-intro {
  padding: 5px 10px;
  padding-right: 30px;
}
body .row .content .card-intro button {
  background: rgba(255, 235, 59, 0.6);
  border: none;
  transition: 1s;
}
body .row .content .card-questions {
  padding: 5px 10px;
  padding-right: 30px;
}
body .row .content .card-questions button {
  background: rgba(255, 235, 59, 0.6);
  border: none;
  transition: 1s;
}
body .row .content .card-questions .form-check {
  margin-bottom: 0.5rem;
}
body .row .content .fader {
  width: 160px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgb(255, 235, 59);
  transition: 1s;
}
body .row .content .fader.active {
  -webkit-animation-name: fader;
          animation-name: fader;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
body .row .content .fader-reverce {
  animation-direction: reverse;
}
@-webkit-keyframes fader {
  0% {
    width: 160px;
    height: 2px;
  }
  16% {
    width: 100%;
    height: 2px;
  }
  34% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 0;
    height: 100%;
  }
  70% {
    width: 0;
    height: 2px;
  }
  100% {
    width: 160px;
    height: 2px;
  }
}
@keyframes fader {
  0% {
    width: 160px;
    height: 2px;
  }
  16% {
    width: 100%;
    height: 2px;
  }
  34% {
    width: 100%;
    height: 100%;
  }
  50% {
    width: 0;
    height: 100%;
  }
  70% {
    width: 0;
    height: 2px;
  }
  100% {
    width: 160px;
    height: 2px;
  }
}